body {margin-top: 0;
overflow-x: hidden;
background-image: url("340.jpg");
}

/*.topnav {
  
  background-color: #333;
  position: relative;
  overflow: hidden;
  opacity: 70%;
  margin-top: 0;
  display: flex;
}

.topnav a {
  float: left;
  display: block;
  color: #dddddd;
  text-align: center;
  margin-top:0;
  padding: 14px 133.1px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #1f618d;
  color: white;
}*/
html,body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding:0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
.row > .column {
  padding: 8px 8px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
  height: 33vh;
}

.column img{
  height: 100%;
  width: 100%;
  border: solid grey 4px;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0px;
  width: 70%;
  /*height: 40%;*/
  max-width: 900px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 5px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 25px 28px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
/*.footer {
    background: #333;
    color: #fff;
    font-family: "Roboto Regular",Arial,sans;
    padding: 20px 0 70px;
    text-align: center;
    position: relative;
}
*/

body
{
  margin: 0;
  padding: 0;
  margin-top: 0;
overflow-x: hidden;
  
}
a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  height: 1665px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


h2{
  font-family:"Beau Sans Pro Book", Verdana, sans-serif;
  font-size-adjust:0.531;
  font-weight:500;
  font-style:normal;
}

#fifth{
  background: #ccc;
  height: 350px;
  margin: 0 auto;
  padding: 40px 0 0 0;
  width:100%;
}
p{
  margin: 0 0 20px 0; 
  text-align: left;
  padding-left: 0;
  margin-left:0;
}

p, ul{
  font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:200;
  font-style:normal;
  text-align: left;
}

h1, #pixels{
  font-family:"Museo 900", Verdana, serif;
  font-size-adjust:0.40;
  font-weight:700;
  font-style:normal;
  text-align: left;
}

h2{
  font-family:"Beau Sans Pro Book", Verdana, sans-serif;
  font-size-adjust:0.531;
  font-weight:500;
  font-style:normal;
  text-align:left;
}
.story{
  margin: 10px auto;
  min-width: 980px;
  overflow: auto;
  width: 94%;
}

.story .float-left, .story .float-right{
  padding: 0px 0 0 0;
  position: relative;
  width: 450px; 
}

#abc{
  list-style: disc;
}

p{
  font-family:"Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size-adjust:0.488;
  font-weight:400;
  font-style:normal;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 19px;
  word-spacing: 3px;
  color: hue;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
position: absolute;
top: 48%;
left: 48%;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-wrapper {
  position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff6347;
z-index: 999999;

}